@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to DogGo</h1>
    <br />
    <p>"Happiness is a long walk with your dog"</p>
    <p>... or letting someone else do the walking.</p>
</div>
